@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @using (Html.BeginForm("PostJob", "Job", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            Pull Request URL <input type="text" name="pullRequestURL" />
            Email <input type="text" name="email"/>
            <input type="submit" value="Submit Job" />
        </fieldset>
    }
</div>