<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=codeformatterstorage;AccountKey=QJOjlTcC/hWA+tDY4HNc3zEtIXl+2HNsDhQlJbfPOVWNJQv4+DgK3oGq7JVe7vbCDExcezA3m239aIAzhIq72Q==;BlobEndpoint=https://codeformatterstorage.blob.core.windows.net/;TableEndpoint=https://codeformatterstorage.table.core.windows.net/;QueueEndpoint=https://codeformatterstorage.queue.core.windows.net/;FileEndpoint=https://codeformatterstorage.file.core.windows.net/" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=codeformatterstorage;AccountKey=QJOjlTcC/hWA+tDY4HNc3zEtIXl+2HNsDhQlJbfPOVWNJQv4+DgK3oGq7JVe7vbCDExcezA3m239aIAzhIq72Q==;BlobEndpoint=https://codeformatterstorage.blob.core.windows.net/;TableEndpoint=https://codeformatterstorage.table.core.windows.net/;QueueEndpoint=https://codeformatterstorage.queue.core.windows.net/;FileEndpoint=https://codeformatterstorage.file.core.windows.net/" />
  </connectionStrings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>